.container {
  margin: auto;
  max-width: 767px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 767px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 991px;
  }
}

@media (min-width: 1199px) {
  .container {
    max-width: 1200px;
  }
}

.navbar {
  width: 100%;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar a:link {
  color: #494949;
}

.navbar a:visited {
  color: #494949;
}

.navbar a:hover {
  color: #494949;
}

.navbar a:active {
  color: #494949;
}

@media (min-width: 1199px) {
  .navbar {
    height: 110px;
  }
}

@media (min-width: 1199px) {
  .rightbar {
    width: 100%;
  }
}

.logo {
  width: 48px;
  height: 100%;
}

@media (min-width: 1199px) {
  .logo {
    width: 180px;
    height: 100%;
  }
}

.logo img {
  width: 48px;
  height: 48px;
}

@media (min-width: 1199px) {
  .logo img {
    width: auto;
    height: auto;
  }
}

.search {
  display: none;
}

.search a:link {
  color: #494949;
}

.search a:visited {
  color: #494949;
}

.search a:hover {
  color: #494949;
}

.search a:active {
  color: #494949;
}

@media (min-width: 1199px) {
  .search {
    width: 100%;
    height: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
  }
  .search a {
    padding-right: 20px;
    text-decoration: none;
  }
  .search a svg {
    width: 20px;
    height: 20px;
  }
}

.menu {
  width: 48px;
  height: 100%;
  color: black;
}

@media (min-width: 1199px) {
  .menu {
    width: 100%;
    height: 60%;
    padding-top: 10px;
  }
}

.menu svg {
  width: 30px;
  height: 48px;
}

@media (min-width: 1199px) {
  .menu svg {
    display: none;
  }
}

.menu a {
  display: none;
}

@media (min-width: 1199px) {
  .menu a {
    display: inline;
    font-size: 18px;
    padding-left: 20px;
    text-decoration: none;
  }
}

.wall_mobile {
  width: 100%;
  margin-bottom: 50px;
  text-align: left;
  font-size: 16px;
  color: #292929;
  height: auto;
  border: 0.0625rem solid #d6d6d6;
  border-radius: 0 0 0.25rem 0.25rem;
}

@media (min-width: 768px) and (max-width: 991px) {
  .wall_mobile {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .wall_mobile {
    display: none;
  }
}

@media (min-width: 1199px) {
  .wall_mobile {
    display: none;
  }
}

.wall_mobile .wallpage {
  height: auto;
  border-radius: 3px;
  position: relative;
}

@media (min-width: 1199px) {
  .wall_mobile .wallpage {
    text-align: center;
    width: auto;
    height: auto;
  }
}

.wall_mobile .wallpage img {
  width: 100%;
  height: auto;
  border-radius: 3px;
}

@media (min-width: 1199px) {
  .wall_mobile .wallpage img {
    width: auto;
    max-height: 520px;
  }
}

.wall_mobile .wallpage_text {
  position: relative;
  width: auto;
  text-align: left;
  padding: 1.125rem 1.25rem 10px;
  word-wrap: break-word;
  overflow: hidden;
}

.wall_mobile .wallpage_text h2 {
  font-size: 28px;
  font-weight: 500;
}

.wall_mobile .wallpage_text .wallpage_button {
  width: 100%;
}

.wall_mobile .wallpage_text .wallpage_button .wallpage_button_detail {
  display: inline-block;
  vertical-align: middle;
  width: 7rem;
  background-color: #ffbc0d;
  line-height: 2.25rem;
  border: 0.125rem solid #ffbc0d;
  padding: 0.25rem 0.625rem;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  margin: 14px 29px 21px 0px;
}

.wall_mobile .wallpage_text .wallpage_playicon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}

.wall_mobile .wallpage_text .wallpage_playicon .grey_point {
  width: 20px;
}

.wall_mobile .wallpage_text .wallpage_playicon .grey_point span {
  font-size: 10px;
  vertical-align: middle;
  text-align: center;
}

.wall_mobile .wallpage_text .wallpage_playicon .black_point {
  width: 20px;
}

.wall_mobile .wallpage_text .wallpage_playicon .black_point span {
  font-size: 10px;
  vertical-align: middle;
  text-align: center;
}

.wall_mobile .wallpage_text .wallpage_playicon .play_icon {
  width: 20px;
}

.wall_mobile .wallpage_text .wallpage_playicon .play_icon span {
  font-size: 20px;
  vertical-align: middle;
  text-align: center;
  border-left: 2px solid #898989;
  border-radius: 1px;
  padding-left: 10px;
}

.wall {
  position: relative;
  font-size: 16px;
  color: #292929;
  height: auto;
  border-radius: 0 0 0.25rem 0.25rem;
  width: 100%;
  height: 334px;
  margin-bottom: 75px;
}

@media screen and (max-width: 767px) {
  .wall {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .wall {
    height: 432px;
  }
}

@media (min-width: 1199px) {
  .wall {
    height: 520px;
    padding-left: 13px;
  }
}

.wall .wallpage {
  height: auto;
  border-radius: 3px;
  position: absolute;
}

@media (min-width: 1199px) {
  .wall .wallpage {
    text-align: center;
    width: auto;
    height: auto;
  }
}

.wall .wallpage img {
  width: 100%;
  height: auto;
  border-radius: 3px;
}

@media (min-width: 1199px) {
  .wall .wallpage img {
    width: auto;
    max-height: 520px;
  }
}

.wall .wallpage_text {
  width: 18rem;
  margin: 0 3.125rem 2rem;
  border-radius: 0.25rem;
  background-color: #fff;
  text-align: left;
  padding: 1.3125rem 5rem 1rem 1.8125rem;
  word-wrap: break-word;
  overflow: hidden;
  position: absolute;
  border: 0;
}

.wall .wallpage_text h2 {
  font-size: 28px;
  font-weight: 500;
}

@media (min-width: 1199px) {
  .wall .wallpage_text h2 {
    font-size: 32px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .wall .wallpage_text {
    left: 0px;
    bottom: 0px;
  }
}

@media (min-width: 1199px) {
  .wall .wallpage_text {
    width: 20rem;
    left: 0px;
    bottom: 0px;
    margin: 0 2rem 4rem 4rem;
    padding: 1.3125rem 2rem 1rem 1.8125rem;
  }
}

.wall .wallpage_text .wallpage_button {
  width: 100%;
}

.wall .wallpage_text .wallpage_button .wallpage_button_detail {
  display: inline-block;
  vertical-align: middle;
  width: 7rem;
  background-color: #ffbc0d;
  line-height: 2.25rem;
  border: 0.125rem solid #ffbc0d;
  padding: 0.25rem 0.625rem;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  margin: 14px 29px 21px 0px;
}

.wall .wallpage_text .wallpage_playicon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  vertical-align: middle;
  text-align: center;
}

.wall .wallpage_text .wallpage_playicon .grey_point {
  width: auto;
}

.wall .wallpage_text .wallpage_playicon .grey_point span {
  font-size: 10px;
  padding: 0.625rem;
}

.wall .wallpage_text .wallpage_playicon .black_point {
  width: auto;
}

.wall .wallpage_text .wallpage_playicon .black_point span {
  font-size: 10px;
  padding: 0.625rem;
}

.wall .wallpage_text .wallpage_playicon .play_line {
  width: auto;
  font-size: 20px;
  border-left: 2px solid #898989;
  border-radius: 1px;
  padding: 10px 0px 10px 10px;
}

.wall .wallpage_text .wallpage_playicon .play_icon {
  width: auto;
}

.wall .wallpage_text .wallpage_playicon .play_icon span {
  font-size: 20px;
  border-radius: 1px;
  padding-top: 6px;
}

.card-area {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) and (max-width: 991px) {
  .card-area {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .card-area {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-width: 1199px) {
  .card-area {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.card {
  width: 300px;
  height: auto;
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .card {
    width: 370px;
    height: 395px;
    margin-bottom: 75px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .card {
    width: 480px;
    height: 420px;
    margin-bottom: 75px;
  }
}

@media (min-width: 1199px) {
  .card {
    width: 575px;
    height: 430px;
    margin-bottom: 75px;
  }
}

.card-pic {
  margin-bottom: 19px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .card-pic {
    margin-bottom: 23px;
  }
}

@media (min-width: 1199px) {
  .card-pic {
    width: 100%;
    height: auto;
  }
}

.card-pic img {
  width: 100%;
  height: auto;
}

.card-allword {
  text-align: center;
  padding: 0 20px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .card-allword {
    padding: 0 15px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .card-allword {
    padding: 0 15px;
  }
}

@media (min-width: 1199px) {
  .card-allword {
    padding: 0 29px;
  }
}

.card-allword .card-detail {
  margin-bottom: 18px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .card-allword .card-detail {
    margin-bottom: 25px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .card-allword .card-detail {
    margin-bottom: 25px;
  }
}

@media (min-width: 1199px) {
  .card-allword .card-detail {
    margin-bottom: 25px;
  }
}

.card-allword .card-button {
  margin-bottom: 25px;
  width: 100%;
}

@media (min-width: 768px) and (max-width: 991px) {
  .card-allword .card-button {
    margin-bottom: 40px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .card-allword .card-button {
    margin-bottom: 40px;
  }
}

@media (min-width: 1199px) {
  .card-allword .card-button {
    margin-bottom: 40px;
  }
}

.card-allword .card-button .card-button-detail {
  display: inline-block;
  vertical-align: middle;
  width: 7rem;
  background-color: #ffbc0d;
  line-height: 2.25rem;
  border: 0.125rem solid #ffbc0d;
  padding: 0.25rem 0.625rem;
  cursor: pointer;
  border-radius: 4px;
}

h2 {
  margin: 0;
  font-size: 20px;
  line-height: 1.5;
}

@media (min-width: 768px) and (max-width: 991px) {
  h2 {
    font-size: 24px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  h2 {
    font-size: 24px;
  }
}

@media (min-width: 1199px) {
  h2 {
    font-size: 24px;
  }
}

span {
  font-size: 14px;
  word-break: break-word;
  word-wrap: break-word;
  color: #494949;
}

@media (min-width: 768px) and (max-width: 991px) {
  span {
    font-size: 16px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  span {
    font-size: 16px;
  }
}

@media (min-width: 1199px) {
  span {
    font-size: 16px;
  }
}

.footer_desktop {
  width: 80%;
  margin: 0 10%;
  display: block;
}

@media screen and (max-width: 767px) {
  .footer_desktop {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .footer_desktop {
    display: none;
  }
}

.footer_desktop .footer-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_desktop .footer-all .footer-area {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_desktop .footer-all .footer-area h2 {
  font-size: 16px;
}

.footer_desktop .footer-all .footer-area a:link {
  color: #494949;
  text-decoration: none;
}

.footer_desktop .footer-all .footer-area a:visited {
  color: #494949;
}

.footer_desktop .footer-all .footer-area a:hover {
  color: #494949;
}

.footer_desktop .footer-all .footer-area a:active {
  color: #494949;
}

.footer_desktop .footer-all .footer-area ul {
  padding: 0px;
}

.footer_desktop .footer-all .footer-area ul li {
  list-style-type: none;
  line-height: 28px;
}

.footer_desktop .footer-container {
  padding-bottom: 6.1875rem;
}

.footer_desktop .footer-container .footer-profiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2.1875rem 0 2.875rem;
}

.footer_desktop .footer-container .footer-profiles ul {
  list-style-type: none;
  padding-left: 0px;
}

.footer_desktop .footer-container .footer-profiles .links_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
}

.footer_desktop .footer-container .footer-profiles .links_social .links_item {
  margin-right: 15px;
}

.footer_desktop .footer-container .footer-profiles .links_app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.footer_desktop .footer-container .footer-legal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2.4375rem;
  text-align: left;
  border-top: 0.0625rem solid #d6d6d6;
}

.footer_desktop .footer-container .footer-legal ul {
  list-style-type: none;
  height: 50px;
}

.footer_desktop .footer-container .footer-legal .legal-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
  width: 50%;
  margin: 0px;
}

.footer_desktop .footer-container .footer-legal .legal-ul .legal-li {
  margin-top: 5px;
  margin-right: 50px;
}

.footer_desktop .footer-container .footer-legal .legal-ul .legal-li a:link {
  color: #494949;
  text-decoration: none;
}

.footer_desktop .footer-container .footer-legal .legal-ul .legal-li a:visited {
  color: #494949;
}

.footer_desktop .footer-container .footer-legal .legal-ul .legal-li a:hover {
  color: #494949;
}

.footer_desktop .footer-container .footer-legal .legal-ul .legal-li a:active {
  color: #494949;
}

.footer_desktop .footer-container .footer-legal .footer-final {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 50%;
}

.footer_desktop .footer-container .footer-legal .footer-final span {
  margin-top: 5px;
}

.footer_desktop .footer-container .footer-legal .footer-final .footer-final-icon {
  width: 1.75rem;
}

.footer_desktop .footer-container .footer-legal .footer-final .footer-final-icon img {
  width: 100%;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .footer_desktop .footer-container .footer-legal {
    display: block;
  }
  .footer_desktop .footer-container .footer-legal .legal-ul {
    width: 100%;
  }
  .footer_desktop .footer-container .footer-legal .footer-final {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer_mobile {
  margin-top: 60px;
  display: none;
}

@media screen and (max-width: 767px) {
  .footer_mobile {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .footer_mobile {
    display: block;
  }
}

.footer_mobile .footer-all .footer-area {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) and (max-width: 991px) {
  .footer_mobile .footer-all .footer-area {
    width: 90%;
    padding: 0 5%;
  }
}

.footer_mobile .footer-all .footer-area .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_mobile .footer-all .footer-area h2 {
  font-size: 18px;
  line-height: 40px;
  font-weight: 500;
}

.footer_mobile .footer-all .footer-area a:link {
  color: #494949;
  text-decoration: none;
}

.footer_mobile .footer-all .footer-area a:visited {
  color: #494949;
}

.footer_mobile .footer-all .footer-area a:hover {
  color: #494949;
}

.footer_mobile .footer-all .footer-area a:active {
  color: #494949;
}

.footer_mobile .footer-all .footer-area ul {
  padding: 0px;
}

.footer_mobile .footer-all .footer-area ul li {
  list-style-type: none;
  line-height: 40px;
}

.footer_mobile .footer-container {
  padding: 0 5% 6.1875rem 5%;
  width: auto;
}

@media screen and (max-width: 767px) {
  .footer_mobile .footer-container {
    padding-bottom: 0px;
  }
}

.footer_mobile .footer-container .footer-profiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2.1875rem 0 2.875rem;
}

.footer_mobile .footer-container .footer-profiles ul {
  list-style-type: none;
  padding-left: 0px;
}

.footer_mobile .footer-container .footer-profiles .links_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.footer_mobile .footer-container .footer-profiles .links_social .links_item {
  margin-right: 15px;
}

.footer_mobile .footer-container .footer-profiles .links_app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

@media screen and (max-width: 767px) {
  .footer_mobile .footer-container .footer-profiles {
    display: block;
    margin: 0px;
  }
  .footer_mobile .footer-container .footer-profiles .links_social {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 40px;
  }
  .footer_mobile .footer-container .footer-profiles .links_app {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 40px;
  }
}

.footer_mobile .footer-container .footer-legal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2.4375rem;
  text-align: left;
  border-top: 0.0625rem solid #d6d6d6;
}

.footer_mobile .footer-container .footer-legal .legal-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
  width: 50%;
  list-style-type: none;
  height: 50px;
  margin: 0px;
}

.footer_mobile .footer-container .footer-legal .legal-ul .legal-li {
  margin-top: 5px;
  margin-right: 50px;
}

.footer_mobile .footer-container .footer-legal .legal-ul .legal-li a:link {
  color: #494949;
  text-decoration: none;
}

.footer_mobile .footer-container .footer-legal .legal-ul .legal-li a:visited {
  color: #494949;
}

.footer_mobile .footer-container .footer-legal .legal-ul .legal-li a:hover {
  color: #494949;
}

.footer_mobile .footer-container .footer-legal .legal-ul .legal-li a:active {
  color: #494949;
}

.footer_mobile .footer-container .footer-legal .footer-final {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 50%;
}

.footer_mobile .footer-container .footer-legal .footer-final span {
  margin-top: 5px;
}

.footer_mobile .footer-container .footer-legal .footer-final .footer-final-icon {
  width: 1.75rem;
}

.footer_mobile .footer-container .footer-legal .footer-final .footer-final-icon img {
  width: 100%;
}

@media (min-width: 768px) and (max-width: 991px) {
  .footer_mobile .footer-container .footer-legal {
    display: block;
  }
  .footer_mobile .footer-container .footer-legal .legal-ul {
    width: 100%;
  }
  .footer_mobile .footer-container .footer-legal .footer-final {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .footer_mobile .footer-container .footer-legal {
    display: block;
    padding-top: 0;
  }
  .footer_mobile .footer-container .footer-legal .legal-ul {
    width: 100%;
    display: block;
    text-align: center;
  }
  .footer_mobile .footer-container .footer-legal .legal-ul .legal-li {
    font-size: 12px;
    margin: 24px 0;
  }
  .footer_mobile .footer-container .footer-legal .footer-final {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 24px 0;
  }
  .footer_mobile .footer-container .footer-legal .footer-final span {
    font-size: 12px;
  }
}
/*# sourceMappingURL=style.css.map */