$letter: #494949;

@mixin forfooter {
    @media screen and (max-width: 767px) {
        @content;
    }
}

@mixin mobile {
    @media (min-width: 768px) and (max-width: 991px) {
        @content;
    }
}

@mixin pad {
    @media (min-width: 992px) and (max-width: 1199px) {
        @content;
    }
}

@mixin web {
    @media (min-width: 1199px) {
        @content;
    }
}

.container {
    margin: auto;
    max-width: 767px;

    @include mobile() {
        max-width: 767px;
    }
    @include pad() {
        max-width: 991px;
    }
    @include web() {
        max-width: 1200px;
    }
}

.navbar {
    width: 100%;
    height: 48px;
    display: flex;
    a:link {
        color: $letter;
    }
    a:visited {
        color: $letter;
    }
    a:hover {
        color: $letter;
    }
    a:active {
        color: $letter;
    }

    @include web() {
        height: 110px;
    }
}

.rightbar {
    @include web() {
        width: 100%;
    }
}

.logo {
    width: 48px;
    height: 100%;

    @include web() {
        width: 180px;
        height: 100%;
    }
}

.logo img {
    width: 48px;
    height: 48px;

    @include web() {
        width: auto;
        height: auto;
    }
}

.search {
    display: none;
    a:link {
        color: $letter;
    }
    a:visited {
        color: $letter;
    }
    a:hover {
        color: $letter;
    }
    a:active {
        color: $letter;
    }
    @include web() {
        width: 100%;
        height: 40%;
        display: flex;
        justify-content: end;
        align-items: center;
        text-decoration: none;

        a {
            padding-right: 20px;
            text-decoration: none;
            svg {
                width: 20px;
                height: 20px;
            }
        }
    }
}

.menu {
    width: 48px;
    height: 100%;
    color: black;

    @include web() {
        width: 100%;
        height: 60%;
        padding-top: 10px;
    }

    svg {
        width: 30px;
        height: 48px;
        @include web() {
            display: none;
        }
    }

    a {
        display: none;
        @include web() {
            display: inline;
            font-size: 18px;
            padding-left: 20px;
            text-decoration: none;
        }
    }
}

.wall {
    width: 100%;
    margin-bottom: 50px;

    @include mobile() {
        margin-bottom: 75px;
    }
    @include pad() {
        margin-bottom: 75px;
    }
    @include web() {
        margin-bottom: 75px;
    }

    .wallpage {
        height: auto;
        border-radius: 3px;
        @include web() {
            text-align: center;
            width: auto;
            height: auto;
        }
        img {
            width: 100%;
            height: auto;
            border-radius: 3px;

            @include web() {
                width: auto;
                max-height: 520px;
            }
        }
    }
}
.card-area {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mobile() {
        flex-direction: row;
        justify-content: space-evenly;
    }
    @include pad() {
        flex-direction: row;
        justify-content: space-evenly;
    }
    @include web() {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.card {
    width: 300px;
    height: auto;
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    padding-bottom: 15px;
    margin-bottom: 15px;

    @include mobile() {
        width: 370px;
        height: 395px;
        margin-bottom: 75px;
    }
    @include pad() {
        width: 480px;
        height: 420px;
        margin-bottom: 75px;
    }
    @include web() {
        width: 575px;
        height: 430px;
        margin-bottom: 75px;
    }
}

.card-pic {
    margin-bottom: 19px;

    @include mobile() {
        margin-bottom: 23px;
    }

    @include web() {
        width: 100%;
        height: auto;
    }

    img {
        width: 100%;
        height: auto;
    }
}

.card-allword {
    text-align: center;
    padding: 0 20px;
    @include mobile() {
        padding: 0 15px;
    }
    @include pad() {
        padding: 0 15px;
    }
    @include web() {
        padding: 0 29px;
    }

    .card-detail {
        margin-bottom: 18px;
        @include mobile() {
            margin-bottom: 25px;
        }
        @include pad() {
            margin-bottom: 25px;
        }
        @include web() {
            margin-bottom: 25px;
        }
    }

    .card-button {
        margin-bottom: 25px;
        width: 100%;

        @include mobile() {
            margin-bottom: 40px;
        }
        @include pad() {
            margin-bottom: 40px;
        }
        @include web() {
            margin-bottom: 40px;
        }
        .card-button-detail {
            display: inline-block;
            vertical-align: middle;
            width: 7rem;
            background-color: #ffbc0d;
            line-height: 2.25rem;
            border: 0.125rem solid #ffbc0d;
            padding: 0.25rem 0.625rem;
            cursor: pointer;
            border-radius: 4px;
        }
    }
}

h2 {
    margin: 0;
    font-size: 20px;
    line-height: 1.5;
    @include mobile() {
        font-size: 24px;
    }
    @include pad() {
        font-size: 24px;
    }
    @include web() {
        font-size: 24px;
    }
}
span {
    font-size: 14px;
    word-break: break-word;
    word-wrap: break-word;
    color: $letter;
    @include mobile() {
        font-size: 16px;
    }
    @include pad() {
        font-size: 16px;
    }
    @include web() {
        font-size: 16px;
    }
}

// ------------------------Footer------------------------

.footer_desktop {
    width: 80%;
    margin: 0 10%;
    display: block;

    @include forfooter() {
        display: none;
    }
    @include mobile() {
        display: none;
    }

    .footer-all {
        display: flex;
        .footer-area {
            width: 100%;
            justify-content: space-between;
            h2 {
                font-size: 16px;
            }

            a:link {
                color: $letter;
                text-decoration: none;
            }
            a:visited {
                color: $letter;
            }
            a:hover {
                color: $letter;
            }
            a:active {
                color: $letter;
            }

            ul {
                padding: 0px;
                li {
                    list-style-type: none;
                    line-height: 28px;
                }
            }
        }
    }
    .footer-container {
        padding-bottom: 6.1875rem;
        .footer-profiles {
            display: flex;
            margin: 2.1875rem 0 2.875rem;
            ul {
                list-style-type: none;
                padding-left: 0px;
            }
            .links_social {
                display: flex;
                width: 60%;
                .links_item {
                    margin-right: 15px;
                }
            }
            .links_app {
                display: flex;
                width: 40%;
                justify-content: end;
            }
        }

        .footer-legal {
            display: flex;
            padding-top: 2.4375rem;
            text-align: left;
            border-top: 0.0625rem solid #d6d6d6;
            ul {
                list-style-type: none;
                height: 50px;
            }
            .legal-ul {
                display: flex;
                padding-left: 0px;
                width: 50%;
                margin: 0px;
                .legal-li {
                    margin-top: 5px;
                    margin-right: 50px;
                    a:link {
                        color: $letter;
                        text-decoration: none;
                    }
                    a:visited {
                        color: $letter;
                    }
                    a:hover {
                        color: $letter;
                    }
                    a:active {
                        color: $letter;
                    }
                }
            }
            .footer-final {
                display: flex;
                justify-content: end;
                width: 50%;
                span {
                    margin-top: 5px;
                }
                .footer-final-icon {
                    width: 1.75rem;
                    img {
                        width: 100%;
                    }
                }
            }

            @include pad() {
                display: block;
                .legal-ul {
                    width: 100%;
                }
                .footer-final {
                    width: 100%;
                    justify-content: center;
                }
            }
        }
    }
}

.footer_mobile {
    margin-top: 60px;
    display: none;

    @include forfooter() {
        display: block;
    }
    @include mobile() {
        display: block;
    }

    .footer-all {
        .footer-area {
            width: 100%;
            justify-content: space-between;

            @include mobile() {
                width: 90%;
                padding: 0 5%;
            }
            .title {
                display: flex;
                justify-content: space-between;
            }

            h2 {
                font-size: 18px;
                line-height: 40px;
                font-weight: 500;
            }

            a:link {
                color: $letter;
                text-decoration: none;
            }
            a:visited {
                color: $letter;
            }
            a:hover {
                color: $letter;
            }
            a:active {
                color: $letter;
            }

            ul {
                padding: 0px;
                li {
                    list-style-type: none;
                    line-height: 40px;
                }
            }
        }
    }
    .footer-container {
        padding: 0 5% 6.1875rem 5%;
        width: auto;
        @include forfooter(){
            padding-bottom: 0px;
        }
        
        .footer-profiles {
            display: flex;
            margin: 2.1875rem 0 2.875rem;

            ul {
                list-style-type: none;
                padding-left: 0px;
            }
            .links_social {
                display: flex;
                width: 50%;
                .links_item {
                    margin-right: 15px;
                }
            }
            .links_app {
                display: flex;
                width: 50%;
                justify-content: end;
            }

            @include forfooter() {
                display: block;
                margin: 0px;
                .links_social {
                    width: 100%;
                    justify-content: center;
                    margin-top: 40px;
                }
                .links_app {
                    width: 100%;
                    justify-content: center;
                    margin-top: 40px;
                }
            }
        }

        .footer-legal {
            display: flex;
            padding-top: 2.4375rem;
            text-align: left;
            border-top: 0.0625rem solid #d6d6d6;
            .legal-ul {
                display: flex;
                padding-left: 0px;
                width: 50%;
                list-style-type: none;
                height: 50px;
                margin: 0px;
                .legal-li {
                    margin-top: 5px;
                    margin-right: 50px;
                    a:link {
                        color: $letter;
                        text-decoration: none;
                    }
                    a:visited {
                        color: $letter;
                    }
                    a:hover {
                        color: $letter;
                    }
                    a:active {
                        color: $letter;
                    }
                }
            }
            .footer-final {
                display: flex;
                justify-content: end;
                width: 50%;
                span {
                    margin-top: 5px;
                }
                .footer-final-icon {
                    width: 1.75rem;
                    img {
                        width: 100%;
                    }
                }
            }

            @include mobile() {
                display: block;
                .legal-ul {
                    width: 100%;
                }
                .footer-final {
                    width: 100%;
                    justify-content: center;
                }
            }

            @include forfooter() {
                display: block;
                padding-top: 0;
                .legal-ul {
                    width: 100%;
                    display: block;
                    text-align: center;
                    .legal-li {
                        font-size: 12px;
                        margin: 24px 0;
                    }
                }
                .footer-final {
                    width: 100%;
                    justify-content: center;
                    margin: 24px 0;
                    span {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
